<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> DEV POINT </title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
{{!--     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/af-2.1.2/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/fc-3.2.2/fh-3.1.2/kt-2.1.3/r-2.1.0/datatables.min.css"/>
 --}}
    <!-- Custom CSS -->
    {{!-- <link href="/css/sb-admin.css" rel="stylesheet"> --}}
    {{!-- <link href="/css/login.css" rel="stylesheet"> --}}


    <!-- Morris Charts CSS -->
{{!--     <link href="/css/plugins/morris.css" rel="stylesheet">
 --}}
    <!-- Custom Fonts -->
    {{!-- <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --}}


</head>

<body>

    <div id="wrapper">

        <div id="page-wrapper">

        	{{{ body }}}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/js/plugins/morris/raphael.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/af-2.1.2/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/fc-3.2.2/fh-3.1.2/kt-2.1.3/r-2.1.0/datatables.min.js"></script>
    <!--
    <script src="/js/plugins/morris/morris.min.js"></script>
    <script src="/js/plugins/morris/morris-data.js"></script>-->
    {{{_sections.script}}}

</body>

</html>

