<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
    <title> Dev Point | Reset Password </title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Reset your Dev Point account from this secure Dev Point Reset page." name="description" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/reset-password.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-bg">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- <a href="#" title="Profile" class="profile-title">Profile Builder</a> -->
                        
                        <div class="logo">
                                <img src="img/logo.gif" style="width:250px;">
                        </div>


                        <h3 class="profile-title2">Change Your Password</h3>
                        <br>
                        <form action="/reset-password" method="post" role="form" name="change">
                            <input name="_csrf" type="hidden" value="" />
                            <div class="form-group">
                                <label for="password">Current Password</label>
                                <div class="">
                                </div>
                                <input autofocus="true" class="form-control" id="password" name="password" placeholder="Current Password" tabindex="2" type="password" required>
                            </div>
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <div class="input-icon icon-password"></div>
                                <input autocomplete="off" class="form-control password" id="newPassword" name="newPassword" placeholder="New Password" tabindex="2" type="password" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Re-Enter New Password</label>
                                <div class="input-icon icon-password"></div>
                                <input autocomplete="off" class="form-control password" id="newPasswordConfirm" name="newPasswordConfirm" placeholder="Re-Enter New Password" tabindex="2" type="password" required>
                            </div>
                            <br>

                            <div class="" style="text-align:center;">
                                <span id="message" style="text-align:center;"></span>
                            </div>

                           
                            <button class="btn btn-primary btn-lg btn-block" id="update-btn" name="commit" tabindex="3" type="submit" value="Log In">Update Password</button>
                             <br>

                            <button class="btn btn-primary btn-lg btn-block" id="cancel-btn" onclick="goBack()">Cancel</button>
                            

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <script>
    $(function() {
        $('form[name=change]').submit(function() {
            $.post($(this).attr('action'), $(this).serialize(), function(res) {
                console.log(res.response);
                if (res.response) {
                    window.location.href = "/login";
                }
                $("#message").text(res.message);
                // location.reload();
            });
            return false; // prevent default action
        });
    });

    function goBack() {
    window.history.back();
}
    </script>


</body>

</html>
