.panel {
	/*width:30%;
    min-width:100px;
    min-height:100px;
    position: absolute;
    left:35%;
    top:20%;*/
    padding: 40px;
}
.container-bg {
	margin-top: 100px;
}
.panel {
	border-radius: 20px;
	font-family: avenir;
}
.login-footer {
	font-family: avenir;
	text-align: center;
}
/*.profile-title {
	font-family: avenir;
	margin-left: 35px;
	font-size: 25px;
	text-align: center;
}*/
.profile-title2 {
	font-family: avenir;
	text-align: center;
	color: blue;
	font-weight: lighter;
	/*margin-left: 35px;*/
}
body {
	background: url("/img/bg3.jpeg") no-repeat fixed ;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}
#message {
	font-weight: bold;
	font-family: avenir;
	color: red;
	font-size: 14px;
}
#update-btn {
	margin-top: 10px;
	font-family: avenir;
	font-size: 14px;
}
#cancel-btn {
	margin-top: 5px;
	font-family: avenir;
	font-size: 14px;
}
.logo {
	text-align: center;
}