h3 {
	text-align: center;
	font-family: avenir;
	font-weight: lighter;
}
.login_icon {
	float: right;
	margin-left: 35px;
}
.panel-body {
	margin-top: 30px;
}
.panel-heading-title {
	margin-top: 25px;
}
.panel-heading-title-2 {
	/*font-family: 'Metal Mania', cursive;*/
}
@media (max-width: 750px) {
    .panel-heading-title-2 {
        font-size: 15px;
    }
    .panel-heading-title {
    	font-size: 15px;
    }
  }
 .panel-footer {
 	font-size: 10px;
 	position:fixed;
   	left:0px;
   	bottom:0px; 
   	width:100%;
   	text-align: center;
   	background-color: slategrey;
   	color: white;
   	font-family: avenir;
   	font-size: 12px;
   	font-weight: lighter;
 }
 .navbar-default .navbar-brand {
 	color: white;
 	font-family: avenir;
 }
 .caret {
 	color: white;
 }
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white;
	}
}
*.a {
	color: white;
}
.li {
	color: white;
}
#message {
	font-weight: bold;
	font-family: avenir;
	color: red;
	font-size: 20px;
}
.btn-primary {
	margin-top: 10px;
}

.logo {
	margin-left: -20px;
}