<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Title Page</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="assets/style.css" rel="stylesheet">

	</head>
	<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><h4>DP</h4></a>
		<ul class="nav navbar-nav navbar-right">
				<li class="active">
					<a href="#">Registration</a>
				</li>
				<li>
					<a href="#">Login</a>
				</li>
		</ul>
		
	</div>
</nav>
	<div class="wrapper">
		<div class="row" id="video">
			
			 <div class="col-xs-12">
			 	<center><img src="http://placehold.it/1000x250" id="placeholder"></center>
			 </div>
		
		</div>
		<br>
		<div class="row" id="areYou">
			<center><h1> Are YOU On SHIET</h1></center>
		</div>
		<div class="row" id="areYou-content">
			<div class="col-xs-2"></div>
			<div class="col-xs-6">
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin leo non magna porta pellentesque. Sed semper, magna ac fermentum porttitor, tellus ex accumsan tellus, vel tincidunt risus dui ut libero. Donec vitae ornare nisi. Etiam nec tempor nisl. In laoreet sem magna, sit amet lacinia ante interdum in. Pellentesque iaculis consequat nisi, eu efficitur nulla mollis sit amet. Mauris tincidunt pellentesque quam, dapibus sagittis orci vehicula id.</p>
			</div>
			<div class="col-xs-4" id="placeHolder">
					<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="200" height="200">
			</div>
		</div>
		<div class="row" id="companies">
			<div class="col-xs-12">
				<center><h1> Companies That Look for DevPoint</h1></center>
			</div>
		<br>
		<div class="row" id="logo">
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
			<div class="col-xs-2">
				<img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="100" height="100">
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-footer">
			Panel footer
		</div>
	</div>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 		<script src="Hello World"></script>
	</body>
</html>