<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="" id="active1">
            <a href="/mydashboard" id="mydash"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="" id="active2">
            <a href="/mydashboard/aboutme" id="about"><i class="fa fa-fw fa-dashboard"></i> About Me</a>
        </li>
        <li class="" id="active3">
            <a href="/mydashboard/portfolio"><i class="fa fa-fw fa-dashboard"></i> Portfolio</a>
        </li>
        <li class="" id="active4">
            <a href="/mydashboard/inbox"><i class="fa fa-fw fa-bar-chart-o"></i> Inbox</a>
        </li>
        <li class="" id="active5">
            <a href="/mydashboard/services"><i class="fa fa-fw fa-bar-chart-o"></i> Services</a>
        </li>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
//     $(document).ready(function () {
//     $('.nav li a').click(function(e) {

//         $('.nav li').removeClass('active');

//         var $parent = $(this).parent();
//         if (!$parent.hasClass('active')) {
//             $parent.addClass('active');
//         }
//         e.preventDefault();
//     });
// });

// $(document).ready(function(){
//     $('.nav li').click(function(event){
//         //remove all pre-existing active classes
//         $('.active').removeClass('active');

//         //add the active class to the link we clicked
//         $(this).addClass('active');

//         //load the page that the link was pointing to
//         $('#mydash').load($(this).find(a).attr('/mydashboard')); 
//         $('#about').load($(this).find(a).attr('/mydashboard/aboutme'));      

//         event.preventDefault();
//     });
// });



</script>