<div class="row">
    <h4 class="pre">About Me</h4>
    <div class="col-xs-12">
        <h2>I'm Frank Sinatra, A web designer and developer from earth</h2>
        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut.</p>
    </div>
</div>
<div class="row section-block services-block">
    <h4 class="pre">Services that I provide</h4>
    <div class="col-md-4">
        <div class="service">
            <i class="icon-basic-keyboard"></i>
            <h4>Programming</h4>
            <p>
                Lorem ipsum dolor sit amet is simply a dummy text.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="service">
            <i class="icon-basic-magnifier"></i>
            <h4>Searching</h4>
            <p>
                Lorem ipsum dolor sit amet is simply a dummy text.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="service">
            <i class="icon-basic-lightbulb"></i>
            <h4>Creative</h4>
            <p>
                Lorem ipsum dolor sit amet is simply a dummy text.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="service">
            <i class="icon-ecommerce-graph1"></i>
            <h4>Searching</h4>
            <p>
                Lorem ipsum dolor sit amet is simply a dummy text.
            </p>
        </div>
    </div>
</div>
<div class="row section-block skills-block">
    <h4 class="pre">My Skills</h4>
    <div class="col-sm-12">
        <h4>Javascript</h4>
        <h4>HTML</h4>
        <h4>Node Js</h4>
        <h4>Front End Interfaces</h4>
        <h4>Photoshop</h4>
    </div>
</div>

{{#section 'script'}}
<script type="text/javascript">
</script>
{{/section}}
